{% unless page.is_home == true %}
<div id="breadcrumbs">
    <a href="{{ site.url }}">{{ site.title }}</a>
    {% assign has_cats = false %}
    {% if page.categories.size >= 1 %} » 
    
        <a href="/blog/">Blog</a> » <a href="/blog/category/{{ page.categories[0] | downcase }}">{{ page.categories[0] | capitalize | replace: "-", " " }}</a>
        {% assign has_cats = true %}
    
    {% endif %}

    {% unless has_cats == true %}
    {% assign segments = page.url | split: "/" %}

    {% if segments.size >= 3 && segments.size != 5 %}
    {% unless segments[1] == 'category' %} »

        <a href="/{{ segments[1] }}/">{{ segments[1] | capitalize }}</a>

    {% endunless %}
    {% endif %}
    {% endunless %}

    » {{ page.title }}
</div>
{% endunless %}