</main>
<footer>
<div class="foot_links">
<div class="menu-footer-links-container"><ul id="menu-footer-links" class="menu"><li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="/about-colette-snow-media/">About</a></li>
<li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a href="/blog/">Blog</a></li>
<li id="menu-item-307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307"><a href="/cookie-policy/">Cookie Policy</a></li>
<li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310"><a href="/support/">Support</a></li>
<li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-309"><a href="https://github.com/colettesnowmedia">GitHub</a></li>
<li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-309"><a href="https://github.com/colettesnowmedia/colettesnow.com/blob/master/{{ page.path }}">Source</a></li>
</ul></div> </div>
<p class="copyright"><abbr title="Copyright">&copy;</abbr> 2018 {{ site.title }}</p>
<p class="abn"><abbr title="Australian Business Number">ABN</abbr>: 46 645 850 913</p>
</footer>
</div>

<a href="https://github.com/colettesnowmedia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>