</main>
<footer>
<div class="foot_links">
<div class="menu-footer-links-container"><ul id="menu-footer-links" class="menu"><li><a href="/about-colette-snow-media/">About</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/cookie-policy/">Cookie Policy</a></li>
<li><a href="/support/">Support</a></li>
<li><a href="https://github.com/colettesnowmedia">GitHub</a></li>
<li><a href="https://github.com/colettesnowmedia/colettesnow.com/blob/master/{{ page.path }}">Source</a></li>
</ul></div> </div>
<p class="copyright"><abbr title="Copyright">&copy;</abbr> 2018-2019 {{ site.title }}</p>
<p class="abn"><abbr title="Australian Business Number">ABN</abbr>: 46 645 850 913</p>
</footer>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c58cec57a53ed2b"></script>

<a href="https://github.com/colettesnowmedia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a394fb24cff5411d96902080c9255dd0"}'></script><!-- End Cloudflare Web Analytics -->
