
<div class="wrap">
    <ul class="skip-links">
        <li><a href="#main-content">Skip to main content</a></li>
    </ul>
    <header>
        <div class="inner">
            <div class="site-heading">
                <a href="https://colettesnow.com" title="Colette Snow Media"><span>Colette Snow Media</span></a>
            </div>
        </div>
        <nav aria-label="Main Navigation">
            <div class="menu-main-container">
                <ul id="menu-main" class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products/">Products</a>
                        <ul class="sub-menu">
                            <li><a href="/products/bulk-user-management/">Bulk User Management</a></li>
                        </ul>
                    </li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/portfolio/">Portfolio</a></li>
                    <li><a href="/blog/">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="/blog/category/announcements/">Announcements</a></li>
                        <li><a href="/blog/category/wordpress-plugins/">WordPress Plugins</a></li>
                        <li><a href="/blog/category/tutorials/">Tutorials</a></li>
                        <li><a href="/blog/category/wordpress/">WordPress</a></li>
                        <li><a href="/blog/category/blogging/">Blogging</a></li>
                    </ul>
                    </li>
                    <li><a href="/about-colette-snow-media/">About</a>
                        <ul class="sub-menu">
                            <li><a href="/cookie-policy/">Cookie Policy</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact/">Contact</a>
                        <ul class="sub-menu">
                            <li><a href="/contact/hire/">Hire Colette</a></li>
                        </ul></li>
                </ul>
            </div>
        </nav>

        <ul id="hire-colette" aria-label="Hire Colettee">
            <li><a href="/contact/hire/">Hire Colette</a></li>
        </ul>
    </header>

    <main class="main_area" id="main-content">
