<div class="wrap">
    <ul class="skip-links">
        <li><a href="#main-content">Skip to main content</a></li>
    </ul>
    <header>
        <div class="inner">
            <div class="site-heading">
                <a href="https://colettesnow.com"><span>Colette Snow Media</span></a>
            </div>
        </div>
        <nav aria-label="Main Navigation">
            <div class="menu-main-container">
                <ul id="menu-main" class="menu">
                    <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-5"><a href="/">Home</a></li>
                    <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-46"><a href="/products/">Products</a>
                        <ul class="sub-menu">
                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="/products/bulk-user-management/">Bulk User Management</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-51"><a href="https://colettesnow.com/blog/">Blog</a>
                    <ul class="sub-menu">
                        <li id="menu-item-277" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="/blog/category/announcements/">Announcements</a></li>
                        <li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-276"><a href="/blog/category/wordpress-plugins/">WordPress Plugins</a></li>
                        <li id="menu-item-278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="/blog/category/tutorials/">Tutorials</a></li>
                        <li id="menu-item-279" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="/blog/category/wordpress/">WordPress</a></li>
                        <li id="menu-item-303" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-303"><a href="/blog/category/blogging/">Blogging</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17"><a href="/about-colette-snow-media/">About</a>
                        <ul class="sub-menu">
                            <li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-281"><a href="/services/">Services</a></li>
                            <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="/cookie-policy/">Cookie Policy</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/contact/">Contact</a></li>
                </ul>
            </div>
        </nav>

        <ul id="social" aria-label="Social Media Links">
            <li><a href="https://facebook.com/colettesnowmedia" rel="me" class="fab fa-facebook" title="Colette Snow Media Facebook Page" aria-label="Colette Snow Media Facebook Page"></a></li>
            <li><a href="https://twitter.com/colettesnowpro" rel="me" class="fab fa-twitter" title="Twitter" aria-label="Twitter"></a></li>
            <li><a href="https://www.pinterest.com.au/colettesnow/" class="fab fa-pinterest" rel="me" title="Pinterest"></a></li>
            <li><a href="https://colettesnow.com/feed/" rel="me" class="fas fa-rss" title="Blog RSS Feed" aria-label="RSS Feed"></a></li>
        </ul>
    </header>

    <main class="main_area" id="main-content">