<!DOCTYPE html>
<html lang="en">  
    
{% include head.html %}

<body>
      
{% include header.html %}

<div class="inner">
        <div class="posts main-area">
      
        {% include breadcrumbs.html %}

        <h1 class="page-heading">Category: {{ page.title }}</h1>

        {% unless page.content == '' %}
            <p>{{ page.content }}</p>
        {% endunless %}
      
        {% for post in site.categories[page.term] %}
          {% assign authors = site.authors | where:'slug',post.author | first %}

        <article class="post">
              <div class="post_details">
                  <h2 class="entry-title">
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>
                  {{ post.excerpt }}
                  <div class="post_meta">By <a href="{{ authors.url }}">{{ authors.title  }}</a> - {{ post.date | date: "%b %-d, %Y" }} - <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Comments</a></div>
              </div>
      
            </article>
          {% endfor %}
        </div>
      
        {% include sidebar.html %}

      </div>

      {% include footer.html %}

      <script id="dsq-count-scr" src="//colettesnowmedia.disqus.com/count.js" async></script>
    </body>
  
  </html>