<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
        {% unless page.is_home2 == nil %}
        <div class="heading">
          <div>
            <h1 class="inner">
              <span>Colette Snow Media creates solutions for online publishing and communities. Our focus is on building usable and accessible solutions to help you succeed</span>
            </h1>
          </div>
        </div>
        {% endunless %}
    <div class="inner">
        {% unless page.is_home == true %}
        <div class="posts main-area">
        {% endunless %}
      {% include breadcrumbs.html %}
      <article class="page page-{{ page.name | remove: ".md" | remove: ".html" }} type-page hentry">
        {{ content }}
      </article>
      {% unless page.is_home == true %}
    </div>

    {% include sidebar.html %}
    {% endunless %}
    </div>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//colettesnowmedia.disqus.com/count.js" async></script>
  </body>

</html>
