<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
        {% unless page.is_home2 == nil %}
        <div class="heading">
          <div class="inner-head">
            <div class="inner lead"><span>Tired of being tangled up in code?</span></div>
            <h1 class="inner">
              <span>Colette Snow Media creates solutions</span><br /><span>for online publishing and communities.</span>
            </h1>
            <div class="inner endlead"><span>Work with us to create a website or plugin</span><br /><span>that is easy to use AND hassle free.</span></div>
          </div>
        </div>
        {% endunless %}
    <div class="inner">
        {% unless page.is_home == true %}
        <div class="posts main-area">
        {% endunless %}
      {% include breadcrumbs.html %}
      <article class="page page-{{ page.name | remove: ".md" | remove: ".html" }} type-page hentry">
        {{ content }}
      </article>
      {% unless page.is_home == true %}
    </div>

    {% include sidebar.html %}
    {% endunless %}
    </div>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//colettesnowmedia.disqus.com/count.js" async></script>
  </body>

</html>
